<img *ngIf="isLoadingSignIn" src="assets/loading_gif.gif" alt="" width="24px" />
<button *ngIf="!loggedIn" class="btn btn-danger btn-sm" (click)="signInWithGoogle()" [disabled]="isLoadingSignIn">Sign in with Google</button>
<div *ngIf="loggedIn && isEmailVerified" style="color: white">
  <img *ngIf="isLoadingSignOut" src="assets/loading_gif.gif" alt="" width="24px" />
  <span class="pl-2" style="margin-left: -2%; margin-right: 2%">{{ socialUser.name }}&nbsp;</span>
  <button class="nav-item btn btn-dark btn-sm" (click)="signOut()" [disabled]="isLoadingSignOut">Sign out</button>
</div>

