<style>
  .card:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    font-family: Arial;
  }

  .nav-item:hover {
    font-family: Arial;
    font-size: 22px;
  }
</style>
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark" style="font-family: 'Calibri Light'">
  <a class="navbar-brand" href="#">
    <img src="../assets/google-drive-logo.png" width="30" height="30" alt="" />
  </a>
  <ul class="navbar-nav" style="font-size: 20px">
    <li class="nav-item active">
      <a class="nav-link" href="#"><i class="fa fa-home"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><b>My drive</b></a>
    </li>
    <li class="nav-item" style="font-size: 20px">
      <a class="nav-link" href="#"><b>Download files</b></a>
    </li>
    <li class="nav-item" style="font-size: 20px">
      <a class="nav-link" href="#"><b>Upload files</b></a>
    </li>
  </ul>
  <div class="ml-auto">
    <app-login></app-login>
  </div>
</nav>
<br><br><br>
<div class="container-fluid" style="font-family: 'Calibri Light'">
  <div class="row">
    <div class="col-lg-4">
      <div class="card text-white text-center bg-secondary mb-5" style="font-size: 26px">
        <div class="card-header"><b>My drive</b></div>
        <div class="card-body" style="background-color: white">
          <h2><i class="fa fa-file-text fa-5x" style="color: #6c757d!important;"></i></h2>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-white text-center bg-secondary mb-5" style="font-size: 26px">
        <div class="card-header"><b>Download files</b></div>
        <div class="card-body" style="background-color: white">
          <h2><i class="fa fa-download fa-5x" style="color: #6c757d!important;"></i></h2>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-white text-center bg-secondary mb-5" style="font-size: 26px">
        <div class="card-header"><b>Upload files</b></div>
        <div class="card-body" style="background-color: white">
          <h2><i class="fa fa-upload fa-5x" style="color: #6c757d!important;"></i></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
